
body {
    background-color: midnightblue;
}

header {
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    padding: 12px;
}

.container {
    margin: auto;
    display: grid;
    width: 704px;
    height: 704px;
    gap: 1px;
}

.container div {
    background-color: whitesmoke;
}

.controls {
    padding: 16px;
    text-align: center;
}

.controls button {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
}
