* {
    font-family: Arial;
}

body {
    background-color: midnightblue;
}

header {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}   

.controls {
    color: whitesmoke;
    font-size: 18px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;  
}

.color-picker {
    width: 100%;  
}

.controls-subtitle, 
.slider-value {
    text-align: center;
    vertical-align: text-top;
    font-size: 18px;    
}

.controls button {
    font-size: 16px;
    border-radius: 8px;
}

.controls button, 
.input-container {
    padding: 8px;
    margin-top: 8px;
}

.container {
    margin: auto;
    display: grid;
    width: 704px;
    height: 704px;
    gap: 1px;
    padding: 16px;
}

.container div {
    background-color: whitesmoke;
}
