
body {
    background-color: midnightblue;
}

header {
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    padding: 12px;
}

.container {
    margin: auto;
    display: grid;
    width: 640px;
    height: 640px;
    gap: 2px;
}

.container div {
    background-color: whitesmoke;
}